<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390454947440-6j573d3ab4odj3m10u3ntse187ht7ffj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390454947440-6j573d3ab4odj3m10u3ntse187ht7ffj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>390454947440-b46foiv8hblpa7217hb20vc267ik3cgu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-NkreJtAJa8DAv4OTB1SgoVXKdIjFUWw</string>
	<key>GCM_SENDER_ID</key>
	<string>390454947440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskler</string>
	<key>PROJECT_ID</key>
	<string>taskler-2b1d2</string>
	<key>STORAGE_BUCKET</key>
	<string>taskler-2b1d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390454947440:ios:5125a2dcb8bf793a3fceb5</string>
	<key>DATABASE_URL</key>
	<string>https://taskler-2b1d2.firebaseio.com</string>
</dict>
</plist>